@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    /* width: 240px; */ /* original width - will update this later */
    width: 110px;
    height: 100vh; 
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: rgba(113, 99, 186, 255);
}

.sidebar:hover {
    width: 240px;
    transition: 0.5s;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
    background: #e0e0e058;
}

.menu a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}


/* ======== Main ========= */
.main {
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header-wrapper {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.main-wrapper {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.graph-title {
    color: rgba(113, 99, 186, 255);
}

.header-title {
    color: rgba(113, 99, 186, 255);
    /* color: #64bcf4; */
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-box {
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.search-box input {
    background: transparent;
    padding: 10px;
}

.search-box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.search-box i:hover {
    transform: scale(1.2);
}


/* ======== Table ========== */

.main-title {
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 15px;
}

.table-wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: rgba(113, 99, 186, 255);
    color: #fff;
}

th {
    padding: 15px;
    text-align: left;
}

th .clickable {
    user-select: none;
}

.clickable:hover {
    cursor: pointer;
    background-color: #727070;
}

tbody {
    background: #f2f2f2;
}

td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even) {
    background: #fff;
}


.x-axis text {
    transform: rotate(-45deg); 
    text-anchor: end;
    /* fill: rgb(69, 61, 112); here is color change*/ 
  }
  
